<a href="https://colab.research.google.com/github/PRyuC/Pascal_INFO5502_Summer2022/blob/main/lab_assignment_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The second Lab-assignment (07/19/2022 11:59'AM' - 07/22/2022 11:59PM, 50 points in total)**

# Question 1

(5 points). Write a Python program to generate 12 random numbers between 1 and 100. Sort the list of numbers in ascending order and print it out. Sort the list of numbers in descending order and print it out. Calculate the average for the group and print it out.

In [193]:
import random                                    # importing the random module to access random methods

def random_twelve():                             # defining a function, no parameters needed

  lst_num = []                                   # creating an empty list to store the numbers

  for item in range(12):                         # using range function to get 12 numbers
    x = random.randrange(1, 101)                 # 1 to 101 so that last possible number is 100
    lst_num.append(x)                            # appending the 12 random numbers to the list
    sorted_lst_num = sorted(lst_num)             # sorting the list
    rev_lst_num = sorted(lst_num, reverse=True)  # reverse=True for descending order

  print(sorted_lst_num)
  print(rev_lst_num)

  count = 0                                      # counter to count and add the numbers in the list
  for num in lst_num:
    count += num                                 # adding the number progressively
    average = count / len(lst_num)               # averaging by using the total count and dividing by 12

  return average

random_twelve()

[4, 23, 24, 34, 51, 51, 72, 79, 83, 84, 86, 97]
[97, 86, 84, 83, 79, 72, 51, 51, 34, 24, 23, 4]

57.333333333333336

# Question 2 

(5 points). The formula that describes the volume V of a sphere with radius r is the following:

$ V=\frac{4}{3}\ast\ \pi\ast\ r^3 $

Write a program to calculate the value of V when r is in the range of 1–10. Output the result in the following format:

	r	V
	1	…
	2	…
	3	…

In [194]:
def calcul_V():                   # defining a function, no parameters needed

  pi = 3.14159265359              # assigning first pi values to a variable
  print("r", "V")                 # printing r V for the headers
  for num in range(1, 11):        # using 1 to 11 since 11 not included
    r = num                       # r will be each number in the range iteratively
    V = 4/3 * pi * r**3           # the formula for each r
    print(r, V)

calcul_V()

r V
1 4.188790204786667
2 33.510321638293334
3 113.09733552924
4 268.0825731063467
5 523.5987755983333
6 904.77868423392
7 1436.7550402418267
8 2144.6605848507734
9 3053.62805928948
10 4188.790204786666

# Question 3

(40 points). In the field of Data Science, data is often formatted as a comma-delimited (CSV) file, where each line in a file corresponds to a field's value. Refer to Chapter 9 (p. 106) for more information on comma-delimited files. To answer this question, you will need to download the file [lab_assignment_02_denton_housing.csv](https://github.com/suthapalliuday/INFO5502-Summer2022/blob/main/datasets/lab_assignment_02_denton_housing.csv) included with this assignment. The file [lab_assignment_02_denton_housing.csv](https://github.com/suthapalliuday/INFO5502-Summer2022/blob/main/datasets/lab_assignment_02_denton_housing.csv) contains statistics about housing in the city of Denton from 2008 to 2014. Write a program to implement the following questions.

(1) (10 pts) Calculate the difference in the number of Occupied Housing Units from year to year and print it. The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.

(2) (10 pts) For all the years, calculate the percentage of housing units which are vacant an occupied. Print the results in the following format:

Year Vacant Housing Units Occupied Housing Units

    2008  30%   70%                          
	2009 ----- -----
	2010 ----- -----
    2011 ----- -----
	2012 ----- -----
    2013 ----- -----
	2014 ----- -----
  
  

(3) (10 pts) Calculate and print the valued and years in which the highest number of housing units were vacant and occupied. Print the results in the following format:  

                              Year	Value
	Vacant Housing Units	  -----   -----
	Occupied Housing Units	-----   -----

(4) (10 pts) Calculate the harmonic mean of the total housing units and print it out. You can find the information about harmonic mean here: https://ncalculators.com/statistics/harmonic-mean-calculator.htm

In [284]:
import pandas as pd                                             # importing the pandas module to access dataframes functions

df = pd.read_csv("/content/csv_project/lab_assignment_02_denton_housing.csv")  # assigning csv file to a variable

   

df_OHU = df.loc[df['title_field'] == "Occupied Housing Units"].copy()  # only considering Occupied Units as a dataframe
                                                                       # copy() to prevent warning message
df_OHU['difference'] = df_OHU['value'].diff()                   # creating a new column for the differences with the diff method for the value column

print(df_OHU, end='\n\n\n')                                     # printing differences where each row is the difference of the one on top
print(df_OHU.sort_values('difference'))                         # sorting in ascending order with sort_values method

    year             title_field  value  difference
2   2014  Occupied Housing Units  46295         NaN
5   2013  Occupied Housing Units  43673     -2622.0
8   2012  Occupied Housing Units  42108     -1565.0
11  2011  Occupied Housing Units  40704     -1404.0
14  2010  Occupied Housing Units  41007       303.0
17  2009  Occupied Housing Units  35916     -5091.0
20  2008  Occupied Housing Units  36711       795.0


    year             title_field  value  difference
17  2009  Occupied Housing Units  35916     -5091.0
5   2013  Occupied Housing Units  43673     -2622.0
8   2012  Occupied Housing Units  42108     -1565.0
11  2011  Occupied Housing Units  40704     -1404.0
14  2010  Occupied Housing Units  41007       303.0
20  2008  Occupied Housing Units  36711       795.0
2   2014  Occupied Housing Units  46295         NaN

In [286]:
df_VHU = df.loc[df['title_field'] == "Vacant Housing Units"]  # only considering the Vacant Units

vac_val = []                      # creating new lists to assign values
occ_val = []
vac_percent = []
years = []
occ_percent = []

for i in df_VHU['year']:           # appending every year to a list
  years.append(i)

for i in df_VHU['value']:          # appending every vacant values to a list
  vac_val.append(i)
  
for i in df_OHU['value']:          # appending every occupied values to a list
  occ_val.append(i)

for i,j in zip(vac_val,occ_val):         # zipping vacant and occupied values
  vac_percent.append(i/j*100)            # to divide each vacant value by each occupied value * 100 for %
 
for i in vac_percent:                    # appending percentage difference in another list
  occ_percent.append(100-i)

dct2 = {                                 # creating a new dictionary with years and %
    'Year' : years,
    'Vacant Housing Units' : vac_percent,
    'Occupied Housing Units': occ_percent
}

new_df = pd.DataFrame(dct2)                # transforming dictionary into dataframe
new_df = new_df.iloc[::-1]                 # reversing index order so 2008 is at the start

new_df

   Year  Vacant Housing Units  Occupied Housing Units
6  2008             12.211599               87.788401
5  2009              9.976055               90.023945
4  2010              8.864340               91.135660
3  2011             10.350334               89.649666
2  2012              7.155410               92.844590
1  2013              9.651272               90.348728
0  2014              6.078410               93.921590

In [280]:
max_vac = []                             # creating lists to append max values for occupied and vacant units
max_occ = []

for i in df_OHU.max():                   # using max method on dataframes to get the max value only
  max_occ.append(i)

for i in df_VHU.max():          
  max_vac.append(i)


dct3 = {                                 # creating dictionary 
    "" : (max_vac[1], max_occ[1]),       # getting 2nd index as dict values for housing types
    "Year": (max_vac[0],max_occ[0]),     # gettings 1st index ad dict values for years
    "Value": (max_vac[2], max_occ[2])    # getting 3rd index as dict values for Value key
}

new_df2 = pd.DataFrame(dct3)             # transforming dictionary back into dataframe
new_df2

                           Year  Value
0    Vacant Housing Units  2014   4483
1  Occupied Housing Units  2014  46295

In [279]:
df_THU = df.loc[df['title_field'] == "Total Housing Units"]   # only considering the total units and assigning to a variable

num_lst = []                           # creating a new list to append the values

for i in df_THU['value']:              # adding all values from total units to the list
  num_lst.append(i)


def harmo_mean(numbers):              # defining a function with 1 parameter for numbers
  count = 0                           # creating a counter
  for i in numbers:
    count += 1/i                      # diving 1 by each number then adding to count
  return len(numbers)/count           # returning the length of the list of numbers divided by the count for harmonic mean

harmo_mean(num_lst)

44398.28543969185